:root {
  --background-light: #d1cbb4;
  --panel-light: #6765e7;
  --background-dark: #1d241f;
  --panel-dark: #173b17;
}

body, html, .App {
  height: 100vh;
}

* {
  transition: background-color 0.3s ease-in-out;
}

.dark {
  background-color: #1d241f;
  color: antiquewhite;
}

.light {
  background-color: var(--background-light);
  color: black;
}

.App {
  display: flex;
  flex-direction: column;
}

.App > .Main {
  flex-grow: 2;
}
